/*
 * Theme Name: WP Seed Theme
 * Description: Starting point for WP Themes
 * Author: Joshua C. Young
*/
html,
body {
  padding: 0;
  margin: 0;
  background-color: #ebecef;
  color: #344e61;
  font-size: 100%;
  box-sizing: border-box; }

*,
*::before,
*::after {
  border-width: 0;
  border-style: solid;
  border-color: #dae4e9;
  box-sizing: inherit; }

#panel {
  background-color: #ebecef; }

a {
  color: #0d2031;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.u__content-div {
  padding: 6rem 1rem;
  border-top: solid 1px rgba(109, 131, 146, 0.2); }

.u__content, .u__content-short {
  max-width: 900px;
  padding: 6rem 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }

.u__content-short {
  padding: 0rem 1rem 3rem 1rem; }

/* Utils */
.light-links a {
  color: #5fc8dc; }

.uppercase {
  text-transform: uppercase; }

button.pico-close {
  background-color: transparent !important;
  font-size: 3rem !important;
  top: 16px !important;
  right: 16px !important;
  opacity: .5;
  color: var(--mystic) !important; }

html,
body {
  font-family: proxima-nova, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: trajan-pro-3, Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
  width: 100%; }

p {
  padding: 1rem 0; }

h1.redbar-header {
  position: relative;
  font-family: trajan-pro-3, Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
  font-size: 2.25rem;
  line-height: 1;
  margin-bottom: 2rem;
  word-break: break-word; }
  @media only screen and (min-width: 37.5625em) {
    h1.redbar-header {
      font-size: 3rem; } }
  @media only screen and (min-width: 64.063em) {
    h1.redbar-header {
      font-size: 4rem; } }
  h1.redbar-header:before {
    content: '';
    display: block;
    position: absolute;
    top: -40px;
    left: 0;
    width: 100px;
    height: 3px;
    z-index: 1000000;
    background-color: #cc393a; }

h1.red-bar-underline {
  color: #0d2031;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  position: relative;
  margin-bottom: 3.5rem; }
  h1.red-bar-underline:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1.25rem;
    left: 50%;
    height: 0.1875rem;
    width: 6.25rem;
    background-color: #cc393a;
    transform: translate(-50%, 0); }
  @media only screen and (min-width: 37.5625em) {
    h1.red-bar-underline {
      font-size: 3rem; } }

h2.red-bar-underline {
  color: #0d2031;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  position: relative;
  margin-bottom: 3.5rem; }
  h2.red-bar-underline:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1.25rem;
    left: 50%;
    height: 0.1875rem;
    width: 6.25rem;
    background-color: #cc393a;
    transform: translate(-50%, 0); }

.font-sans {
  font-family: proxima-nova, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; }

.topbar {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 3.5rem;
  background-color: #0d2031; }
  .topbar__logo {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 56px; }
    .topbar__logo-img {
      height: 40px;
      width: 180px;
      padding-left: 24px; }
  .topbar__navigation {
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    list-style: none; }
    .topbar__navigation li a {
      text-decoration: none;
      padding-left: .5rem;
      padding-right: .5rem;
      font-size: inherit;
      color: #6d8392;
      text-transform: capitalize; }
      .topbar__navigation li a:hover {
        color: white; }
    @media only screen and (min-width: 90.063em) {
      .topbar__navigation {
        display: flex; } }
  .topbar__hamburger {
    position: absolute;
    top: 0;
    right: 2rem;
    cursor: pointer;
    visibility: visible;
    padding: .5rem 0;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 2rem;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ffffff; }
    @media only screen and (min-width: 90.063em) {
      .topbar__hamburger {
        visibility: hidden; } }

.sub-nav-trigger {
  height: 100%;
  display: flex;
  align-items: center; }

.sub-nav {
  display: none;
  align-content: space-between;
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 50; }

.sub-nav-inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1040px;
  list-style-type: none; }
  .sub-nav-inner li {
    padding: 1.5rem .5rem; }
  .sub-nav-inner a {
    padding: 8px;
    white-space: nowrap;
    text-decoration: none;
    color: #3c586c; }
  .sub-nav-inner li a:hover {
    color: #0d2031; }

.sub-nav-trigger:hover .sub-nav {
  display: flex; }

header {
  padding: 8.75rem 0 10rem 0;
  color: #ffffff;
  background-color: #0d2031;
  border-image-width: 100%;
  padding-bottom: 3.75rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed; }
  @media only screen and (min-width: 37.5625em) {
    header {
      max-height: 45rem;
      padding: 8.75rem 0 10rem 0; } }
  header .inner-width {
    display: block;
    padding: 0 1.25rem;
    margin: 0 auto; }
    @media only screen and (min-width: 37.5625em) {
      header .inner-width {
        max-width: 1140px; } }
  header p {
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: 600; }
    @media only screen and (min-width: 37.5625em) {
      header p {
        width: 60%; } }
  header span {
    display: block;
    width: 100%;
    font-size: 14px; }
    @media only screen and (min-width: 37.5625em) {
      header span {
        width: 35%; } }

.footer {
  padding: 3rem 1rem 16rem 1rem;
  color: #0d2031;
  background-color: #ebecef;
  border-top: solid 1px rgba(109, 131, 146, 0.2); }
  .footer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1140px; }
  .footer__logo {
    width: 3.75rem;
    height: 5rem; }
  .footer__copyright {
    width: 100%;
    text-align: center;
    font-weight: 700;
    padding: 0; }

.markdown .attachment {
  margin: 0 auto; }

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-family: proxima-nova,sans-serif;
  font-weight: 700;
  font-size: 1.3125rem;
  letter-spacing: .1875rem;
  text-transform: uppercase;
  display: block;
  width: 100%;
  font-size: 1.75rem; }

.markdown h6 {
  font-size: 1rem; }

.markdown h5 {
  font-size: 1.125rem; }

.markdown h4 {
  font-size: 1.25rem;
  color: #5fc8dc;
  margin-top: 1.5rem; }

.markdown h3 {
  font-size: 1.5rem;
  margin-top: 1.5rem; }

.markdown h2 {
  font-size: 1.875rem; }

.markdown h1 {
  font-size: 2.25rem; }

.markdown blockquote {
  display: block;
  width: 100%;
  padding: 1rem;
  position: relative; }
  .markdown blockquote:after {
    content: '\201C';
    position: absolute;
    top: -10px;
    left: -15px;
    color: #0d2031;
    font-size: 5rem;
    opacity: 0.5; }

.markdown ul, ol {
  width: 100%;
  overflow: hidden; }

.markdown li {
  word-wrap: normal; }

.markdown a {
  color: #5fc8dc;
  font-weight: bold;
  padding: 0.15rem 0.25rem;
  text-decoration: none;
  max-width: 80%;
  word-wrap: normal; }
  .markdown a:hover {
    color: #0c2f48; }

.markdown img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  height: auto;
  margin: 0 auto; }

.markdown .ui-button {
  word-wrap: none;
  text-align: center;
  text-transform: uppercase;
  min-width: fit-content;
  padding: 0 0.5rem; }
