html,
body {
  padding: 0;
  margin: 0;
  background-color: $primary-light;
  color: $cello;
  font-size: 100%;
  box-sizing: border-box;
}

*, 
*::before, 
*::after {
  border-width: 0;
  border-style: solid;
  border-color: #dae4e9;
  box-sizing: inherit;
}

#panel {
  background-color: $primary-light;
}

a {
  color: $primary-dark;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
