.u__content-div {
  padding: $section-vertical-padding $base-padding;
  border-top: solid 1px rgba($slate-gray, .2);
}

.u__content {
  max-width: $content-width;
  padding: $section-vertical-padding $base-padding;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.u__content-short {
  @extend .u__content;
  padding: 0rem $base-padding 3rem $base-padding;
}


/* Utils */
  .light-links a {
    color: $viking;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  button.pico-close {
    background-color: transparent !important;
    font-size: 3rem !important;
    top: 16px !important;
    right: 16px !important;
    opacity: .5;
    color: var(--mystic) !important;
  }
  