.footer {
    padding: rem-calc(48) $base-padding rem-calc(256) $base-padding;
    color: $primary-dark;
    background-color: $primary-light;
    border-top: solid 1px rgba($slate-gray, .2);
   
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        max-width: $inner-width;
    }
    &__logo {
        width: rem-calc(60);
        height: rem-calc(80);
    }
    &__copyright {
        width: 100%;
        text-align: center;
        font-weight: 700;
        padding: 0;
    }
}