header {
    padding: rem-calc(140 0 160 0);
    color: $white;
    background-color:$primary-dark;
    border-image-width: 100%;
    padding-bottom: 3.75rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    @media #{$medium-up} {
      max-height: rem-calc(720);
      padding: rem-calc(140 0 160 0);
    }
    & .inner-width {
      display: block;
      padding: rem-calc(0 20);
      margin: 0 auto;
      @media #{$medium-up} {
        max-width: $inner-width;
      }
    }
    & p {
      display: block;
      width: 100%;
      font-size: 18px;
      font-weight: 600;
      @media #{$medium-up} {
        width: 60%;
      }
    }
    & span {
      display: block;
      width: 100%;
      font-size: 14px;
      @media #{$medium-up} {
        width: 35%;
      }
    }
  }
  