.topbar {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: rem-calc(56);
  background-color: $primary-dark;

  &__logo{
    display: flex;
    align-items: center;
    position: absolute;
    top:0;
    left:0;
    height: 56px;

    &-img{
      height: 40px;
      width: 180px;
      padding-left: 24px;
    }
  }

  &__navigation {
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    list-style: none;
    & li a {
      text-decoration: none;
      padding-left: .5rem;
      padding-right: .5rem;
      font-size: inherit;
      color: $slate-gray;
      text-transform: capitalize;
      &:hover{
        color: white;
      }
    }
    @media #{$xlarge-up} {
      display: flex;
    }
  }

  &__hamburger {
    position: absolute;
    top: 0;
    right: 2rem;
    cursor: pointer;
    visibility: visible;
    padding: .5rem 0;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 2rem;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $white;
    @media #{$xlarge-up} {
      visibility: hidden;
    }
  }
}

.sub-nav-trigger {
  height:100%;
  display: flex;
  align-items: center;
}

.sub-nav {
  display: none;
  align-content: space-between;
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  background-color: $white;
  
  z-index: 50;
}

.sub-nav-inner {
  display: flex;
  flex-wrap: wrap;
  // padding: 16px;
  margin: 0 auto;
  max-width: 1040px;
  list-style-type: none;

  & li {
    padding: 1.5rem .5rem;
  }

  & a {
    padding: 8px;
    white-space: nowrap;
    text-decoration: none;
    color: $text-primary;
  }

  & li a:hover {
    color: $primary-dark;
  }
}

.sub-nav-trigger:hover .sub-nav {
  display: flex;
}