@function lower-bound($range) {
    @if length($range) <= 0 {
      @return 0;
    }
    @return nth($range, 1);
  }
  
  @function upper-bound($range) {
    @if length($range) < 2 {
      @return 999999999999;
    }
    @return nth($range, 2);
  }
  
  // Media Queries
  $screen: "only screen" !default;
  
  $landscape: "#{$screen} and (orientation: landscape)" !default;
  $portrait: "#{$screen} and (orientation: portrait)" !default;
  
  $small-up: $screen !default;
  $small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})" !default;
  
  $medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})" !default;
  $medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})" !default;
  
  $large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})" !default;
  $large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})" !default;
  
  $xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})" !default;
  $xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})" !default;
  
  $xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})" !default;
  $xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})" !default;
  
  $xxxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxxlarge-range)})" !default;
  $xxxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxxlarge-range)}) and (max-width:#{upper-bound($xxxlarge-range)})" !default;
  