.markdown .attachment {
  margin: 0 auto;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-family: proxima-nova,sans-serif;
  font-weight: 700;
  font-size: 1.3125rem;
  letter-spacing: .1875rem;
  text-transform: uppercase;
  display: block;
  width: 100%;
  font-size: 1.75rem;
}

.markdown h6 {
  font-size: 1rem;
}

.markdown h5 {
  font-size: 1.125rem;
}

.markdown h4 {
  font-size: 1.25rem;
  color: $viking;
  margin-top: 1.5rem;
}

.markdown h3 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.markdown h2 {
  font-size: 1.875rem;
}

.markdown h1 {
  font-size: 2.25rem;
}

.markdown blockquote {
  display: block;
  width: 100%;
  padding: 1rem;
  position: relative;
  &:after {
    content: '\201C';
    position: absolute;
    top: -10px;
    left: -15px;
    color: $primary-dark;
    font-size: 5rem;
    opacity: 0.5;
  }
}

.markdown ul, ol {
  width: 100%;
  overflow: hidden;
}

.markdown li {
   word-wrap: normal;
}

.markdown a {
  color: $viking;
  font-weight: bold;
  padding: 0.15rem 0.25rem;
  text-decoration: none;
  max-width: 80%;
  word-wrap: normal;
  &:hover {
    color: $elephant;
  }
}

.markdown img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  height: auto;
  margin: 0 auto;
}

.markdown .ui-button {
  @extend .ui-button;
  word-wrap: none;
  text-align: center;
  text-transform: uppercase;
  min-width: fit-content;
  padding: 0 rem-calc(8);
}
