html,
body {
    font-family: proxima-nova, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: trajan-pro-3, Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif; 
  width: 100%;
}


p {
    padding: $base-padding 0;
}


h1.redbar-header {
    position: relative;
    font-family: trajan-pro-3, Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif; 
    font-size: 2.25rem;
    line-height: 1;
    margin-bottom: rem-calc(32);
    word-break: break-word;
    @media #{$medium-up} {
        font-size: 3rem;
    }
    @media #{$large-up} {
        font-size: 4rem;
    }
    &:before{
        content: '';
        display: block;
        position: absolute;
        top: -40px;
        left: 0;
        width: 100px;
        height: 3px;
        z-index: 1000000;
        background-color: $mahogany; 
    }
}

h1.red-bar-underline {
    color: $primary-dark;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: rem-calc(56);
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: rem-calc(-20);
      left: 50%;
      height: rem-calc(3);
      width: rem-calc(100);
      background-color: $mahogany;
      transform: translate(-50%, 0);
    }
    @media #{$medium-up} {
        font-size: 3rem;
    }
  }

h2.red-bar-underline {
    color: $primary-dark;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: rem-calc(56);
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: rem-calc(-20);
      left: 50%;
      height: rem-calc(3);
      width: rem-calc(100);
      background-color: $mahogany;
      transform: translate(-50%, 0);
    }
  }

.font-sans {
    font-family: proxima-nova, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; 
}
  