// Colors
$black-pearl: #0d2031;
$firefly: #0d2031;
$elephant: #0c2f48;
$cello: #344e61;
$bass : #3c586c;
$viking: #5fc8dc;
$slate-gray: #6d8392;
$mahogany: #cc393a;
$mystic: #ebecef;
$white: #ffffff;

$primary-dark: $black-pearl;
$primary-light: $mystic;
$red: $mahogany;

$text-primary: $bass;
  
$base-padding: 1rem;
$section-vertical-padding: 6rem;
  
$inner-width: 1140px;
$content-width: 900px;

// Media queries
$small-range: (0, 37.5em);
$medium-range: (37.5625em, 64em);
$large-range: (64.063em, 90em);
$xlarge-range: (90.063em, 120em);
$xxlarge-range: (120.063em, 150em);
$xxxlarge-range: (150.063em);
